* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3ebeb;
}

header {
    background-color: rgba(49, 24, 159, 0.842);
    color:black;
    padding: 10px;
    text-align: center;
}

li a:hover {
    color: red;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    float: left; 
    width: 300px; 
    margin-top: 10px; 
    margin-right: 30px; 
    margin-bottom: 10px; 
}

nav {
    width: 600px;;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li a {
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-size: 15px;
    color: black;
    padding: 20px;
    width: 20px;
}

#img1, #img2, #img3 {
    width: 270px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.galeria {
    width: 900px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#galeria h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#logo2 {
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

#logo1 {
    width: 300px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.tarefa {
    color: black;
    width: 270px;
    padding: 20px;
    background-color: rgb(255, 249, 161);
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    }

 .tarefa p{
    margin-bottom: 14px;
    margin-top: 14px;
    }

#quadros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.infos {
    text-align: center;
    justify-content: center;
}

.infos p {
    margin-top:10px;
}